<section id="profile-header-top" class="d-flex justify-content-center align-items-center">
</section>

<section>
    <div class="container profile-details">
        <div class="row">
            <h1>Welcome {{firstName}}</h1>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 address">
                <h3>Address</h3>
                {{#if contactInfo.address.country}}
                    <p><b>Country:</b> {{contactInfo.address.country}}</p>
                    <p><b>Zip code:</b> {{contactInfo.address.zipCode}}</p>
                    <p><b>City:</b> {{contactInfo.address.city}}</p>
                    <p><b>Street:</b> {{contactInfo.address.houseNumber}}, {{contactInfo.address.street}}</p>
                    <p><b>Telephone:</b> {{contactInfo.tel}}</p>
                    <div class="text-right">
                        <button class="btn btn-link edit-address">Edit Address</button>
                    </div>
                {{else}}

                    {{> addressForm}}

                {{/if}}
            </div>
            <div class="col-12 col-lg-6 orders">
                {{#if orders}}
                <h3>Orders</h3>
                    {{#each orders}}

                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</section>

<script src="js/profile.js"></script>